body {
            margin: 0;
            padding: 0;
            background-color: #121212;
            color: #61dafb;
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        h1 {
            font-size: 3rem;
            font-family: 'Calibri', sans-serif;
            user-select: none;
            color: #fff;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), 0 0 5px rgba(255, 255, 255, 0.5);
            margin-bottom: 20px;
            opacity: 0;
            animation: fadeIn 2s ease-in-out forwards;
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
            }
            to { 
                opacity: 1;
            }
        }

        .categories {
            display: flex;
        }

        .category-button {
                padding: 12px 24px;
                cursor: pointer;
                font-family: 'Calibri', sans-serif;
                font-size: 28px;
                user-select: none;
                color: #fff;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), 0 0 5px rgba(255, 255, 255, 0.5);
                color: #ffffff;
                text-decoration: none;
                font-size: 18px;
                animation: fadeIn 2s ease-in-out forwards;
                border: 2px solid gray;
                background-color: gray;
                border-radius: 5px;
                transition: transform 0.3s, filter 0.3s, background-color 0.3s, color 0.3s;
                margin-right: 20px;
            }
        
            .category-button:hover {
                transform: scale(1.2);
                filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.7));
                user-select: none;
                background-color: gray;
                color: #fff;
            }
        
        p1 {
            font-family: 'Calibri', sans-serif;
            user-select: none;
            color: #fff;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), 0 0 5px rgba(255, 255, 255, 0.5);
            margin-bottom: 20px;
        }
        
        .announcement-bar {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background-color: #000;
            color: #fff;
            text-align: center;
            padding: 10px;
            display: flex;
            justify-content: space-between;
        }

        .close-button {
            cursor: pointer;
            color: white;
            font-size: 20px;
        }

        .close-button:hover {
            color: #ccc;
        }
